Package: com.supermamon.awesomeslider
Name: AwesomeSlider
Architecture: iphoneos-arm
Depends: mobilesubstrate
Description: Customize the "Slide to unlock" label.
	My first attempt at making a tweak.
Maintainer: permamon <at.supermamon@gmail.com>
Author: spermamon <at.supermamon@gmail.com>
Section: Tweaks
Depiction: https://supermamon.github.io/repo/depictions/AwesomeSlider/index.html
Version: 1.0.0-6
Installed-Size: 236
