Package: com.supermamon.awesomeslider
Name: AwesomeSlider
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Change the "slide to unlock" label.
Maintainer: Raymond M. Velasquez
Author: Raymond M. Velasquez
Section: Tweaks
